<section>
    <footer class="layout_footer">
        <div class="fouter_container">
            <section class="fouter_top">
                <ul class="fouter_social">
                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-facebook-f social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-twitter social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-youtube social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-linkedin social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-instagram social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-pinterest-p social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-vimeo-v social_img"></i>
                        </a>
                    </li>

                    <li class="social_item">
                        <a class="socail_link" href="">
                            <i class="fa-brands fa-behance social_img"></i>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="fouter_main">

                <div class="fouter_right">
                    <div class="fouter_widget">
                        <h6 class="widget_title">Contacto</h6>

                        <ul class="widget_list">
                            <li class="widget_item">
                                <a class="widget_link" href="">Red Oficial BMW</a>
                            </li>

                            <li class="widget_item">
                                <a class="widget_link" href="">Agenda tu Prueba de Manejo</a>
                            </li>

                            <li class="widget_item">
                                <a class="widget_link" href="">Solicita Cotizacion</a>
                            </li>

                            <li class="widget_item">
                                <a class="widget_link" href="">Configura tu BMW</a>
                            </li>

                            <li class="widget_item">
                                <a class="widget_link" href="">Contacto</a>
                            </li>
                        </ul>
                    </div>

                    <div class="fouter_widget">
                        <h6 class="widget_title">Descubre BMW</h6>

                        <ul class="widget_list">
                            <li class="widget_item">
                                <a class="widget_link" href="">BMW.CO</a>
                            </li>

                            <li class="widget_item">
                                <a class="widget_link" href="">MINI</a>
                            </li>
                            <li class="widget_item">
                                <a class="widget_link" href="">BMW Motorrad</a>
                            </li>
                        </ul>
                    </div>


                </div>
            </section>
            <section class="fouter_bottom">
                <div class="fouter_copyright">
                    <span class="copyright_text">
                        &copy; 2023, Todos los derechos reservados a <a href="misitioweb">Julian Parra</a>
                    </span>
                </div>

                <div class="fouter_links">
                    <ul class="fouter_flinks">
                        <li class="flinks_item flinks_item--separator">
                            <a class="flinks_title" href="">Politica de privacidad</a>
                        </li>

                        <li class="flinks_item">
                            <a class="flinks_title" href="">Terminos de uso</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </footer>

</section>

<style>
.layout_footer{
    padding: 3rem 4rem;
    width: 100%;
    height: 100%;
    margin:  auto;
}

.fouter_container{
    margin-top: 20rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.fouter_top{
    padding-bottom: 7rem;
}

.fouter_social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social_img{
    display: inline-block;
    color: var(--color_description);
    font-size: 3rem;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
}

.socail_link:hover .social_img{
    color: var(--color-text-body);
}

.fouter_main{
    display: flex;
    flex-direction: row;
}

.fouter_fleft{
    flex-basis: 50%;
}
.fleft_container{
    border-right: 1px solid var(--cloro-border);
    padding-right: 8rem;
    margin-right: 4rem;

}

.fleft_title{
    display: inline-block;
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--clor-title);
    margin-bottom: 2rem;
}

.fleft_subtitle{
    font-size: 1.7rem;
}

.fleft_group{
    position: relative;
    display: flex;
    width: 100%;
    background-color: var(--color-segundario);
    border-radius: 20px;
    height: 7rem;
    padding: 1rem;
    box-shadow: 0 24px 48px -15px #ddd;
    align-items: center;
    justify-content: space-between;
}

.fleft_mail-icon{
    display: inline-block;
    margin-left: 2rem;
}

.fleft_form_control{
    position: relative;
    display: block;
    padding: 0.5rem 1.5rem;
    height: auto;
    border: none;
    outline: none;
    flex: 1;
    color: var(--clor-title);
    margin-left: 1rem;
}

.fletf_btn{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--color-principal);
    color: var(--color-segundario);
    border-radius: 16px;
    padding: 1.4rem 3rem;
    transition: all 300ms ease-in-out;
}

.fletf_btn:hover{
    background-color: var(--color-banner);
}

.fouter_right{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;

}

.fouter_widget{
    margin-bottom: 4rem;
    flex-basis: 33%;
}

.widget_title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--clor-title);
}

.widget_link{
    font-size: 1.8rem;
    padding-top:1rem;
    display: inline-block;
    transition: all 300ms linear;
}
.widget_link:hover{
    color: var(--colorPrimar);
}

.fouter_bottom{
    font-size: 1.7rem;
    border-top: 1px solid var(--cloro-border);
    display: flex;
}

.fouter_copyright{
    flex-basis: 50%;
}

.copyright_text{
    display: inline-block;
    color: var(--color-text-body);
}

.copyright_text > a{
    display: inline;
}

.fouter_links{
    flex-basis: 50%;

}

.fouter_flinks{
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
.flinks_title{
    transition: all 300ms ease-in-out;
}
.flinks_title:hover{
    color: var(--color-banner);
}

.flinks_item--separator::after{
    content: "";
    height: 4px;
    width: 4px;
    background-color: var(--color-text-body);
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 78.8%;
    
}
</style>